.catalog-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;

}

.filters {
  display: flex;
  flex-direction: column;
  gap: 21px;
  min-width: 272px;
  margin-bottom: 21px;

  &__item {
    padding: 24px;
    background-color: var(--secondary-bg-color);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    letter-spacing: 0;
    transition: letter-spacing 300ms ease-in-out;
  }

  &__header:hover {
    outline: none;
    letter-spacing: 3px;
  }

  &__button {
    transition: transform 300ms ease-in-out;
  }

  &__button:hover {
      transform: scale(1.7);
  }

  &__list {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid var(--border-color);
  }

  &__list-item:not(:last-child) {
    margin-bottom: 4px;
  }

  &__button-submit {
    width: 100%;
  }
}

.filters__icon-minus {
  display: none;
}

.filters__section:open .filters__icon-plus {
  display: none;
}

.filters__section:open .filters__icon-minus {
  display: block;
}