.hero {
  display: flex;
  padding: 64px 164px;
  justify-content: center;
  align-items: center;

  background: radial-gradient(
      51.63% 42.69% at 22.28% -4.22%,
      rgba(2, 101, 220, 0.5) 0%,
      rgba(2, 101, 220, 0) 100%
    ),
    var(--bg-color);

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__bcg-img {
    flex-shrink: 0;
    width: 532px;
    height: 640px;

    background-image: url(/img/hero/cube-2x.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    color: var(--secondary-text-color);
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__title--highlight {
    color: var(--accent-color);
  }

  &__slogan {
    color: var(--secondary-text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4; /* 140% */

    margin-bottom: 32px;
  }

  &__stats {
    display: flex;
    gap: 64px;

    margin-bottom: 32px;
  }

  &__stat-number {
    color: var(--secondary-text-color);
    text-shadow: 0px 4px 13px rgba(255, 255, 255, 0.4);

    font-family: 'Bakbak One';
    font-size: 52px;
    line-height: 1.2; /* 119.231% */
    letter-spacing: -0.5px;
  }

  &__stat-text {
    color: var(--third-text-color);

    font-size: 16px;
    line-height: 1.5; /* 150% */
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }
}
