.our-contacts {
  padding: 64px 64px 0;

  &__list {
    display: flex;
    justify-content: center;
    gap: 16px ;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 288px;
    max-width: 328px;
    padding: 40px 32px;
    border: 2px solid var(--secondary-bg-color);
    transition: all 300ms ease-in-out;
  }

  &__item:hover {
    border: 2px solid var(--accent-color);
    transform: scale(1.05);
  }

  &__icon {
    margin-bottom: 24px;
  }

  &__text {
    color: var(--third-text-color);
    font-size: 16px;
  }
}
