@use "../base/mixins" as *;

.our-contacts {
  padding-inline: 16px;

  @include mq(tablet) {
    padding: 32px 24px 0;
  }

  @include mq(laptop) {
    padding: 64px 64px 0;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px ;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    min-width: 288px;
    max-width: 328px;
    border: 2px solid var(--secondary-bg-color);
    transition: all 300ms ease-in-out;

    @include mq(tablet) {
      padding: 40px 32px;
    }
  }

  &__item:hover {
    border: 2px solid var(--accent-color);
    transform: scale(1.05);
  }

  &__icon {
    margin-bottom: 16px;

    @include mq(tablet) {
      margin-bottom: 24px;
    }
  }

  &__text {
    color: var(--third-text-color);
    font-size: 16px;
  }
}
