@use "../base/mixins" as *;

.products-wrapper {
  overflow: hidden;
}

.products {
  display: flex;
  gap: 24px;
  overflow-x: auto;

  @include mq(desktop) {
    justify-content: center;
  }

  &__item {
    transition: transform 300ms ease-in-out;
  }

  &__item:hover,
  &__item:focus {
    outline: none;
    transform: scale(0.97);
  }
}

.product {
  padding: 24px;
  background-color: var(--secondary-bg-color);

  &__img {
    min-width: 296px;
    object-fit: cover;

    @include mq(tablet) {
      min-width: 256px;
    }

    @include mq(laptop) {
      min-width: 222px;
    }

    @include mq(laptop) {
      min-width: 252px;
    }
  }

  &__price {
    margin-bottom: 8px;
    color: var(--secondary-text-color);
    font-family: 'Bakbak One';
    font-size: 28px;
    font-weight: 400;
    line-height: 1.3; /* 133.333% */

    @include mq(tablet) {
      font-size: 36px;
      letter-spacing: -0.5px;
    }
  }
}

.img-wrapper {
  position: relative;
  margin-bottom: 16px;

  @include mq(tablet) {
    margin-bottom: 24px;
  }
}

.img-tag {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 8px 10px;

  color: var(--accent-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4; /* 142.857% */
  background-color: var(--secondary-text-color);
}

.img-tag--sold-out {
  color: var(--secondary-text-color);
  background-color: var(--warning-color);
}
