.team__title {
  margin-bottom: 40px;
}

.teammates {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;

  width: 1600px;
}

.teammate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 293px;
  padding: 32px;
  background-color: var(--secondary-bg-color);

  &__photo {
    margin-bottom: 16px;
    border-radius: 50%;

    transition: transform 300ms ease-in-out;
  }

  &__photo:hover {
    transform: scale(1.3);
    filter: drop-shadow(0 0 10px var(--accent-color));
  }

  &__position {
    color: var(--third-text-color);
    margin-bottom: 16px;
    text-align: center;
  }
}
