@use "../base/mixins" as *;

.container {
  width: 100%;
  max-width: 1728px;
  margin: 0 auto;
  padding-inline: 16px;

  @include mq(tablet) {
    width: 678px;
    padding-inline: 24px;
  }

  @include mq(laptop) {
    width: 1280px;
    padding-inline: 64px;
  }
}
