.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.nav__link {
  position: relative;
  display: flex;
  padding: 8px 20px;

  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;

  transition: transform 300ms ease-in-out, color 300ms ease-in-out;

  &:hover {
    color: var(--accent-color-hover-focus-border);
    transform: scale(1.2);
  }

  &:active {
    color: var(--accent-color-active);
    transform: scale(1.2);
  }

  &:focus {
    outline: none;
    border-radius: 5px;
    border: 4px solid var(--accent-color-hover-focus-border);
    transform: scale(1.2);
  }
}

.nav__link--current::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
}
