.search__form {
  position: relative;
}

.search__input {
  width: 188px;
  height: 52px;
  padding: 10px 16px 10px 45px;
  border: 2px solid var(--border-color);
  background-color: transparent;
  color: var(--fourth-text-color);
  transition: border 300ms ease-in-out;

  &::placeholder {
    letter-spacing: 0;
    transition: all 300ms ease-in-out;
  }

  &:hover {
    border: 2px solid var(--accent-color);
  }

  &:focus {
    outline: none;
    border: 2px solid var(--accent-color-hover-focus-border);
  }

  &:hover::placeholder {
    letter-spacing: 3px;
  }
}

.search__button {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  display: flex;
  background-color: transparent;
  padding: 0;
}

.search__icon {
  transition: fill 300ms ease-in-out, filter 300ms ease-in-out;

  &:hover {
    fill: var(--accent-color);
    filter: drop-shadow(0 0 20px var(--accent-color));
  }
}