{% extends "layouts/base.njk" %}
{% block content %}
  <main>
    {% include "partials/index-page/hero.njk" %}
    {% include "partials/catalog/catalog.njk" %}
    {% include "partials/index-page/blog-section.njk" %}
    {% include "partials/index-page/about-us.njk" %}
    {% include "partials/index-page/team.njk" %}
    {% include "partials/index-page/faqs.njk" %}
  </main>
{% endblock %}