<div class="catalog__header">
  <h2 id="catalog-section" class="catalog__title">
    <svg class="catalog__title-icon" width="24" height="24" aria-hidden="true">
      <use href="/img/icons.svg#icon-folder"></use>
    </svg>
    Catalog
  </h2>
  <div class="catalog__seporator"></div>
  <a class="button catalog__button" href="#" aria-labelledby="see-all-catalog">
    <span id="see-all-catalog">See all</span>
  </a>
  {% include "partials/catalog-buttons-icon.njk" %}
</div>