<div class="header__contacts">
  {% include "partials/search.njk" %}
  <a class="button" href="#" aria-labelledby="discord-btn" target="_blank">
    <svg width="24" height="24" aria-hidden="true">
      <use href="/img/icons.svg#icon-discord"></use>
    </svg>
    <span id="discord-btn">Discord</span>
  </a>
  <button class="button button--primary" type="button" aria-labelledby="connect-wallet-btn">
    <svg width="24" height="24" aria-hidden="true">
      <use href="/img/icons.svg#icon-wallet-03"></use>
    </svg>
    <span id="connect-wallet-btn">Connect</span>
  </button>
</div>