<div class="products-wrapper">
  <ul class="products">
    {% for i in products %}
      <li class="products__item">
        <a class="products__link" href="{{ i.href }}" title="{{ i.title }}" aria-labelledby="{{ i.aria_labelledby }}">
          <article class="product">
            <div class="img-wrapper">
              <picture>
                <source
                  srcset="{{ i.img_1x }} 1x, {{ i.img_2x }} 2x"
                  type="image/webp"
                />
                <img
                  class="product__img"
                  src="{{ i.img }}"
                  alt="{{ i.alt }}"
                  loading="lazy"
                />
              </picture>
              <span class="img-tag{% if i.state === "sold-out" %} img-tag--sold-out{% endif %}">{{ i.tag }}</span>
            </div>
            <p class="product__price">{{ i.price }}</p>
            <h3 class="text-xl" id="{{ i.aria_labelledby }}">
              {{ i.name }}
            </h3>
          </article>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
