<section class="blog section">
  <h2 class="blog__title title">Our blog</h2>
  {% include "partials/events.njk" %}
  <button class="button blog__button" type="button" aria-labelledby="read-more-blog">
    <span id="read-more-blog">Read more</span>
  </button>
</section>
