<section class="hero">
  <div class="hero__content">
    <h1 class="title-xl hero__title">
      with
      <span class="hero__title--highlight">binabox</span>
      explore<br/>NFT collection
    </h1>
    <p class="hero__slogan">
      We are the best way to check the rarity of NFT collection
    </p>
    <div class="hero__stats">
      {% for i in hero_stats %}
        <div class="hero__stat-item">
          <p class="hero__stat-number">{{ i.number }}</p>
          <p class="hero__stat-text">{{ i.text }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="hero__buttons">
      <button class="button button--primary" type="button" aria-labelledby="connect-wallet-hero">
        <span id="connect-wallet-hero">Connect Wallet</span>
      </button>
      <a class="button" href="#" aria-labelledby="whitelist-btn" target="_blank">
        <span id="whitelist-btn">Whitelist now</span>
      </a>
    </div>
  </div>
  <div class="hero__bcg-img"></div>
</section>
