<section class="list-wrapper">
  <h2 id="tags-section" class="title-small list-wrapper__title">Tags</h2>
  <nav class="list tag-list" aria-labelledby="tags-section">
    {% for i in sidebar_tags %}
      <a class="button-s text-small-bold list__link tag-list__link" href="{{ i.url }}" aria-labelledby="{{ i.aria_labelledby }}">
        <span id="{{ i.aria_labelledby }}">{{ i.text }}</span>
      </a>
    {% endfor %}
  </nav>
</section>
