<footer class="footer">
  <div class="footer__top">
    <div class="footer__logo-slogan">
      {% include "partials/footer/logo.njk" %}
      <p class="text-small footer__slogan">
        We are the best way to check the rarity of NFT<br/>collection.
      </p>
    </div>
    {% include "partials/footer/navs.njk" %}
  </div>
  <div class="footer__bottom">
    <p class="text-small footer__copyright">
      <span class="footer__copyright-span">Binabox</span>
      2025 -
      <span class="footer__copyright-span">All</span>
      rights reserved
    </p>
    {% include "partials/footer/socials.njk" %}
  </div>
</footer>
