<a class="logo footer__logo" href="./index.html" aria-labelledby="nav-home">
  <svg class="logo__icon" width="36" height="40" aria-label="Binabox logo">
    <use href="/img/icons.svg#icon-logo"></use>
  </svg>
  <svg class="logo__icon-text-blue" width="135" height="21" aria-label="Binabox logo">
    <use href="/img/icons.svg#icon-logo-text-blue"></use>
  </svg>
</a>
