{% extends "layouts/base.njk" %}
{% block content %}
  <main>
    {% include "partials/blog-item-page/breadcrumbs.njk" %}
    {% include "partials/blog-item-page/content.njk" %}
  </main>
{% endblock %}
