<ul class="catalog__buttons-icon">
  {% for i in catalog_buttons_icon %}
    <li>
      <button class="button-icon" type="button" aria-labelledby="{{ i.aria_labelledby }}">
        <span id="{{ i.aria_labelledby }}" class="visually-hidden">{{ i.text }}</span>
        <svg width="24" height="24" aria-hidden="true">
          <use class="button-icon__icon" href="{{ i.href }}"></use>
        </svg>
      </button>
    </li>
  {% endfor %}
</ul>
