<div class="catalog__header">
  <div class="catalog__header-item">
    <h2 class="catalog__title">
      <svg class="catalog__title-icon" width="24" height="24" aria-hidden="true">
        <use href="/img/sprite.svg#icon-folder"></use>
      </svg>
      Catalog
    </h2>
    <div class="catalog__seporator"></div>
  </div>
  <div class="catalog__header-item">
    <a class="button catalog__button" href="#" aria-labelledby="see-all-catalog">
      <span id="see-all-catalog">See all</span>
    </a>
    {% include "partials/catalog/buttons-icon.njk" %}
  </div>
</div>
