<section class="breadcrumbs">
  <h1 class="title-xl breadcrumbs__title">Explore catalog</h1>
  <nav class="breadcrumbs__nav" aria-label="Breadcrumb navigation">
    <a class="button-transparent-s text-small-bold breadcrumbs__link" href="./index.html" aria-labelledby="bread-home">
      <span id="bread-home">Home</span>
    </a>
    <span class="button-transparent-s text-small-bold breadcrumbs__link breadcrumbs__link--disabled" aria-current="page">
    Catalog</span>
  </nav>
</section>