:root {
  --accent-color: #0265dc;
  --accent-link: #78BBFA;
  --accent-color-secondary: #01a39d;
  --accent-color-hover-focus-border: #3892f3;
  --accent-color-active: #0054b6;
  --bg-color: #0d0d15;
  --bg-btn-hover-color: rgba(191, 197, 238, 0.12);
  --secondary-bg-color: #1d1c28;
  --text-color: #f8f7ff;
  --secondary-text-color: #f5f8fb;
  --third-text-color: rgba(239, 245, 250, 0.82);
  --fourth-text-color: rgba(231, 238, 247, 0.66);
  --border-color: rgba(208, 215, 251, 0.17);
  --secondary-border-color: rgba(212, 217, 242, 0.26);
  --warning-color: #ea3829;
}